* {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

body {
	font-family: "Microsoft Yahei", "Calibri";
	font-size: 14px;
	background-color: #EEF3FA;
	color:#777;
	padding: 0; margin: 0; background:#eff2f9;
}


ol,ul,li {padding: 0;  margin: 0; list-style: none;}
h2,h3,h4,h5,ul,li,p,hr {padding: 0;margin: 0;}
input {outline: none;}


.strong_red{
	color: red;margin-left:5px;font-size: 18px;
}


.fl {
	float: left;
	display: inline;
}

.fr {
	float: right;
	display: inline;
}

html {
	font-size: 16px !important;
}

@media only screen and (min-width: 320px) and (max-width: 409px) {
	html {
		font-size: 10px !important;
	}
}

@media only screen and (min-width: 410px) and (max-width: 736px) {
	html {
		font-size: 14px !important;
	}
}

@media only screen and (min-width: 737px) and (max-width: 1023px) {
	html {
		font-size: 20px !important;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
	html {
		font-size: 25px !important;
	}
}


/*头部返回 */
#title {
	font-size: 1.2em;
	color: #fff;
	height: 2.8em;
	line-height: 2.8em;
	text-align: center;
	background: #EDBE75;
	position: relative;
	width: 100%;
}

#title .back {
	width: 24px;
	height: 24px;
	text-align: center;
	position: absolute;
	top: 0.6em;
	left: 0.6em;
	background: url(../images/icon_return.png) no-repeat;
	cursor: pointer;
}
#title img {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 0.7em;
	left: 0.5em;
}




/*菜单*/
.user_nav_list{
	border-top-width:1px;
	border-left-width:1px;
	border-top-style:solid;
	border-left-style:solid;border-top-color:#EBEBEB;
	border-left-color:#EBEBEB; 
	background:#fff; 
	margin:10px 0px;
}
.user_nav_list li{
	border-right-width:1px;
	border-bottom-width:1px;
	border-right-style:solid;
	border-bottom-style:solid;
	border-right-color:#EBEBEB;
	border-bottom-color:#EBEBEB;
	height:50px;
}
.user_nav_list a{display:block;color:#666;text-decoration:none;width:100%;float:left}
.user_nav_list .u_nav_icon{
	float:left;
	margin-left:2%;
	height:30px;width:30px;
	background-size:90%;
	margin-top:10px;
}
.user_nav_list .money{background-image:url(../images/iconfont-jiaofei.png);background-repeat:no-repeat}
.user_nav_list .telphone{background-image:url(../images/customservice.png);background-repeat:no-repeat}
.user_nav_list .jifen{background-image:url(../images/coupon.png);background-repeat:no-repeat}
.user_nav_list .suggest{background-image:url(../images/suggestion.png);background-repeat:no-repeat}
.user_nav_list .jifenjilu{background-image:url(../images/Myorder.png);background-repeat:no-repeat}
.user_nav_list .sign{background-image:url(../images/pointsrecard.png);background-repeat:no-repeat}
.user_nav_list .u_nav_name{float:left;margin-left:1.5%;line-height:50px;font-size:15px}
.user_nav_list .u_money{position:relative;font-size:13px;color:#666;line-height:51px;float:right}
.user_nav_list .u_money i{color:#ff6063;font-style:normal}
.user_nav_list .nt_icon{
	background-image:url(../images/iconfont-jiantou.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:15px;
	height:50px;width:32px;
	float:right;
	margin-right:1%;
}
.user_nav_list span.upload_num { 
	width: 10px; height: 10px; 
	line-height:10px; 
	border-radius: 50%; 
	background:#F00;
    color: #cb2527; 
    display: block; 
    float:right; 
    margin-top:20px;
}




/*sldcl*/
.butt{width:100%;height:70px;background:#FFFFFF;position: relative;}
.butt .butt_list{width:100%;position:relative;padding: 0;margin: 0;}
.butt .butt_list li{float:left;width:50%;text-align:center;position:relative;}
.butt ul.butt_list li:nth-of-type(1):after{content:" ";border-right:1px solid #d2d2d2;position:absolute;height:70px;top:0;left:100%}
.butt ul.butt_list li span{color:#fff;display:block;opacity:1; margin:0px; padding:0px;line-height: 70px;}
.butt ul.butt_list li span.tttext{ font-size:18px; color:#4c97c4;}





/*交易记录*/
.detail{ 
	height:75px; 
	position:relative; 
	background-color:#fff; 
	padding-left:4%; 
	padding-top:8px; 
	box-sizing:border-box; 
	border-bottom:1px solid #e0e0e0;
}
.detail h1{ line-height:30px; font-size:14px; color:#191919; font-weight:normal;}
.detail h3{ line-height:20px; font-size:12px; color:#747474; font-weight:normal;}
.detail p{ line-height:75px; position:absolute;right:4%; top:0; color:#414141; font-size:16px;}





/*积分券*/
.creditsexchange_contnet img{
	width: 100%;
	height: 100%;
}
.right_content{
	display: flex;
	display: -webkit-flex;
	margin-left: 50%;
	margin-top: -6rem;
}
.creditsexchange_contnet .right_content img{
	width: 4rem;
	height: 4rem;
}
.creditsexchange_contnet .right_content .text p{
     line-height: 1.5rem;
}




/*积分兑换*/
.over {
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

.box-s {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.clearfloat:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0
}

.clearfloat {
	zoom: 1
}

.boutit {
	width: 50%;
	margin: 0 auto;
	position: relative;
	height: 1.2rem;
	text-align: center;
}

.boutit samp {
	color: #000000;
	position: relative;
	padding: 0 3%;
	background-color: #efeff4;
	font-size: 1em;
}
.theme .content .list .tu {
	width: 100%;
	height: 2.8rem;
	text-align: center;
	font-size: 0;
}

.theme .content .list .tu span {
	display: inline-block;
	height: 100%;
	line-height: 0;
	vertical-align: middle;
}

.theme .content .list .tu img {
	width: 70%;
	vertical-align: middle;
	height: 250%;
	margin-top: 10px;
}

.theme {
	width: 100%;
}

.theme .content {
	width: 100%;
	background-color: #fff;
}

.theme .content .list {
	width: 33.33%;
	height: 15rem;
	border-right: 1px solid #f1f1f1;
	float: left;
	border-bottom: 1px solid #f1f1f1;
}

.theme .content .list .shang {
	padding: 8% 5% 5%;
	width: 100%;
	margin-top: 60px;
	text-align: center;
}

.theme .content .list:nth-child(3n) {
	border-right: none;
}

.theme .content .list .shang .tit {
	color: #000000;
	font-size: .3rem;
	width: 100%;
	margin-bottom: 0;
}

.red {
	color: red;
	font-weight: 600;
}



