body { padding: 0; margin: 0; background:#eff2f9;}
ol,ul,li {padding: 0;  margin: 0; list-style: none}
h2,h3,h4,h5,ul,li,p,hr {padding: 0;margin: 0;}
input {outline: none;}
html{ padding: 0; margin: 0;}
* {
   -webkit-box-sizing: border-box; 
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin:0; 

}


/*头部返回 */
#title {
	font-size: 1.2em;
	color: #fff;
	height: 2.8em;
	line-height: 2.8em;
	text-align: center;
	background: #EDBE75;
	position: relative;
	width: 100%;
}

#title .back {
	width: 24px;
	height: 24px;
	text-align: center;
	position: absolute;
	top: 0.6em;
	left: 0.6em;
	background: url(../images/icon_return.png) no-repeat;
	cursor: pointer;
}






