
*{margin: 0;padding: 0;}

body{font-family:'Microsoft YaHei',Arial, Helvetica, sans-serif;}
html,body{background: #F7F7F7;}

select,input,img{ vertical-align:middle; outline:none; }

ol, ul {list-style: none;}
a{text-decoration:none;}
	
.floatL{float: left;}
.floatR{float: right;}

/*头部*/
.header {
	height: 3.4rem;
	width: 100%;
	position: relative;
	border-bottom: 1px solid #F7F7F8;
	z-index: 999;
	background-color: #FFFFFF;
}
.header a {
	display: block;
	color: #fff;
	line-height: 3.4rem;
	font-size: 1rem;
	position: relative;
	padding: 0 1rem;
	z-index: 99;
}
/*返回*/
.return:before {
	content: '';
	height: 12px;
	width: 12px;
	display: block;
	float: left;
	border: 2px solid #c2c2c2;
	border-right-width: 0;
	border-bottom-width: 0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	position: absolute;
	top: 17px;
	left: 1.1rem;
}
.headtitle {
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 98;
	height: 100%;
	color: #CDCDCD;
	line-height: 3.4rem;
	font-size: 1rem;
}