
/*购物车弹出层*/
.am-share {
    border-radius: 0;
    bottom: -1rem;
    height: 20rem;
    left: 0;
    background-color: #FFFFFF;
    position: fixed;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 300ms;
    transition: transform 300ms;
    width: 100%;
    z-index: 1110;
}

.am-modal-active {
    transform: translateY(0px);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.am-modal-out {
    z-index: 1109;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%)
}

.am-share-footer .share_btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    width: 5rem;
    height: 4.5rem;
    border-radius: 0;
    cursor: pointer;
    transition: background-color 300ms ease-out 0s, border-color 300ms ease-out 0s;
    vertical-align: middle;
    white-space: nowrap;
    font-family: "微软雅黑";
}

.am-share-footer .share_btn img {
    width: 100%;
}


.am-share-sns {
    background-color: #fff;
    padding: 0 5% 5%;
    height: auto;
    zoom: 1;
}

.sharebg {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1100;
    display: none;
}

.sharebg-active {
    opacity: 1;
    display: block;
}

.am-share .bottom {
    padding: 0;
}

.sdetail {
    width: 100%;
}

.sdetail .top {
    width: 100%;
    padding-top: .4rem;
}

.sdetail .top .tu {
    width: 5.5rem;
    height: 5.5rem;
    margin-top: -1rem;
    font-size: 0;
    border: 1px solid #dfdfdf;
    text-align: center;
}

.sdetail .top .tu span {
    display: inline-block;
    height: 100%;
    line-height: 0;
    vertical-align: middle;
}

.sdetail .top .tu img {
    vertical-align: middle;
    width: 100%;
    height: 100%;
}


.sdetail .top .you .tit {
    width: 100%;
    font-size: 1em;
    margin-left: 5px;
    color: #333333;
}

.sdetail .top .you span {
    font-size: .5em;
    color: #f44623;
    display: block;
    margin-left: 5px;
    margin-top: .5rem;
}



.sdetail .bottom {
    width: 100%;
    margin-top: 10%;
}

.sdetail .bottom .you {
    width: 3rem;
    height: 2rem;
}

.sdetail .bottom .you ul li {
    float: left;
    margin-left: 3rem;
    height: 2rem;
    /*line-height: .8rem;*/
    width: 2rem;
    text-align: center;
}

.sdetail .bottom .you ul li img {
    width: 100%;
}

.shop-btn {
	position: absolute;
	left: 0;
	height: 5rem;
	bottom: 0;
    width: 100%;
    line-height: 4rem;
    text-align: center;
    background-color: #9dc1e5;
    color: #fff;
    font-size: 1em;
}
/*.db {
    display: block;
}*/
